@import url("https://fonts.googleapis.com/css2?family=Jost&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #FFFFFF;
  font-family: 'jost', sans-serif;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header"
 "main"
 "nosotros"
 "servicios"
 "proyectos"
 "equipo"
 "contacto"
 "footer";
  -ms-grid-rows: auto 350px 700px 900px 800px 350px 600px 200px;
      grid-template-rows: auto 350px 700px 900px 800px 350px 600px 200px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  height: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px 15px;
  background-color: #FFFFFF;
  font-size: 0.8rem;
  -webkit-box-shadow: 0px 3px 25px grey;
          box-shadow: 0px 3px 25px grey;
  z-index: 100;
  font-weight: bold;
}

.header .logo {
  position: relative;
  top: 5%;
  width: 45px;
  height: 45px;
}

.header .logo a {
  width: auto;
  height: auto;
}

.header .logo .logo__imagen {
  width: 100%;
  height: auto;
}

.header .nav {
  height: 60px;
  width: 85%;
  position: relative;
}

.header .nav .nav__icono {
  position: absolute;
  right: 0;
  top: 10px;
  width: 45px;
  height: 45px;
  font-size: 2rem;
  text-align: right;
  color: #fb0404;
}

.header .nav .nav__menu {
  position: absolute;
  right: -15px;
  top: 0px;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: solid 3px #fb0404;
  border-radius: 15px;
  display: none;
}

.header .nav .nav__menu li {
  background-color: #FFFFFF;
  display: inline-block;
  width: 130px;
  height: auto;
  text-align: center;
  letter-spacing: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav .nav__menu .desencadenante {
  display: none;
}

.header .nav .nav__menu .desplegable {
  height: auto;
  border: none;
}

.header .nav .nav__menu .nav__menu__enlace {
  padding: 10px 15px;
  color: #fb0404;
  text-decoration: none;
  width: 100%;
  text-align: center;
  height: 40px;
  display: inline-block;
}

.header .nav .nav__menu .nav__menu__enlace--desplegable {
  color: #fb0404;
  text-decoration: none;
  height: 40px;
  display: block;
  width: 130px;
  padding: 3px 15px;
}

.header .nav .nav__menu .nav__menu--return {
  display: block;
  border: none;
  background-color: transparent;
  z-index: 101;
  height: 60px;
  width: 45px;
  color: transparent;
}

.header .nav .nav__menu .nav__menu--return a {
  color: transparent;
  display: block;
  height: 100%;
  width: 100%;
}

.header .nav li:last-child {
  border-bottom: solid 3px #fb0404;
  border-radius: 0px 0px 15px 15px;
  -webkit-box-shadow: 0px 15px 15px -10px grey;
          box-shadow: 0px 15px 15px -10px grey;
}

.header .nav .nav__menu:target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: transparent;
  text-align: center;
  width: 100%;
}

.main .main__h1 {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  font-family: "Staatliches", sans-serif;
  font-size: 40px;
  color: #E06157;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px #7A2727;
}

.main .main__video {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 1600px;
  height: auto;
  z-index: -5;
}

.nosotros {
  padding-bottom: 30px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: nosotros;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nosotros .nosotros__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 80%;
  max-width: 400px;
  height: auto;
  max-height: 300px;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
}

.nosotros .nosotros__article img {
  width: 100%;
  height: auto;
}

.nosotros .nosotros__article p {
  color: #20374c;
  font-stretch: expanded;
  padding: 60px 30px 60px 30px;
  font-size: 1.1rem;
  font-family: 'Jost', sans-serif;
}

.servicios {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: servicios;
  width: 100%;
  height: 900px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicios .servicios__article {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 400px;
}

.servicios h2 {
  text-align: center;
}

.servicios a {
  color: #fb0404;
  font-style: normal;
  text-decoration: none;
  font-size: 2rem;
}

.servicios p {
  padding-top: 25px;
  width: 70%;
  text-align: center;
  display: inline-block;
  font-size: 1.2rem;
}

.servicios img {
  width: auto;
  height: 180px;
}

.proyectos {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: proyectos;
  width: 100%;
  height: 800px;
  background-color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proyectos div {
  max-height: 300px;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.proyectos div video {
  width: 100%;
  height: auto;
}

.proyectos .proyectos__texto {
  margin: 25px;
  width: auto;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  text-align: center;
}

.proyectos .proyectos__texto a {
  font-size: 0.8rem;
  display: block;
  padding: 12px;
  width: auto;
  height: 50px;
  border-radius: 30px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-bottom: 3px solid;
  border-color: #7A2727;
  text-align: center;
}

.equipo {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: equipo;
  width: 100%;
  height: 400px;
  background-color: #fb0404;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.equipo .equipo__div {
  width: auto;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px;
  width: auto;
  text-align: center;
  height: 250px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
}

.equipo .equipo__div a {
  font-size: 0.8rem;
  display: block;
  padding: 12px;
  width: auto;
  height: 50px;
  border-radius: 30px;
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 3px solid;
  border-color: #7A2727;
  text-align: center;
}

.contacto {
  padding: 30px;
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: contacto;
  width: 100%;
  height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fb0404), to(#490000));
  background-image: linear-gradient(#fb0404, #490000);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .contacto__div {
  width: 100%;
  max-width: 600px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.contacto .contacto__div form {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
}

.contacto .contacto__div form .input {
  width: 80%;
  max-width: 280px;
  padding: 5px;
  margin: 10px 0px;
}

.contacto .contacto__div form .contacto__linea {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  max-width: 280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacto .contacto__div form .contacto__linea select {
  margin-left: 20px;
}

.footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #490000;
  height: 200px;
  color: black;
  width: 100%;
}

.footer .footer__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__contenedor .footer__contenedor__logo {
  width: 60px;
  height: 60px;
}

.footer .footer__contenedor .footer__contenedor__logo .logo__imagen {
  width: 100%;
  height: auto;
}

.footer .footer__contenedor .footer__contenedor__p {
  font-size: 1rem;
  text-align: center;
  width: auto;
  font-family: "Staatliches", sans-serif;
  color: #E06157;
}

.footer .footer__contenedor .footer__contenedor__contenedoriconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
  min-width: 180px;
}

.footer .footer__contenedor .footer__contenedor__contenedoriconos .footer__contenedor__icono {
  color: #E06157;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Escritorio */
@media only screen and (min-width: 1200px) {
  html {
    font-size: 20px;
  }
  body {
    -ms-grid-rows: auto 350px 400px 450px 500px 350px 600px 200px;
        grid-template-rows: auto 350px 400px 450px 500px 350px 600px 200px;
  }
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
    height: 80px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: -webkit-sticky;
    position: sticky;
    padding: 10px 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FFFFFF;
    font-size: 0.8rem;
    -webkit-box-shadow: 0px 3px 25px grey;
            box-shadow: 0px 3px 25px grey;
    z-index: 100;
    font-weight: bold;
  }
  .header .logo {
    position: relative;
    top: 5%;
    width: 2.8rem;
    height: 2.8rem;
  }
  .header .logo a {
    width: auto;
    height: auto;
  }
  .header .logo .logo__imagen {
    width: 100%;
    height: auto;
  }
  .header .nav {
    height: 60px;
    width: 85%;
    position: relative;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .nav .nav__icono {
    display: none;
    /*position:absolute;
			right:0;
			top:10px;
			width: 45px;
			height: 45px;
			font-size: 2rem;
			text-align: right;
			color: $colorA;*/
  }
  .header .nav .nav__menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    right: 0px;
    top: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
    border-radius: 15px;
    display: flex;
  }
  .header .nav .nav__menu li {
    background-color: #FFFFFF;
    display: inline-block;
    width: 130px;
    height: auto;
    text-align: center;
    letter-spacing: 1px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .nav .nav__menu .desencadenante {
    display: inline-block;
  }
  .header .nav .nav__menu .desencadenante ::after {
    font-family: "FontAwesome", san-serif;
    content: " \f107";
    vertical-align: text-bottom;
  }
  .header .nav .nav__menu .desplegable {
    display: none;
    height: auto;
    border: none;
  }
  .header .nav .nav__menu .desencadenante:hover ~ .desplegable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 60px;
    right: 284px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 230px;
    text-align: left;
    -webkit-box-shadow: 0px 5px 25px grey;
            box-shadow: 0px 5px 25px grey;
  }
  .header .nav .nav__menu .desplegable:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 60px;
    right: 284px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 230px;
    text-align: left;
    -webkit-box-shadow: 0px 3px 25px grey;
            box-shadow: 0px 3px 25px grey;
  }
  .header .nav .nav__menu .nav__menu__enlace {
    padding: 20px 15px;
    color: #20374c;
    text-decoration: none;
    width: 100%;
    text-align: center;
    height: 60px;
    display: inline-block;
  }
  .header .nav .nav__menu .nav__menu__enlace--desplegable {
    color: #20374c;
    text-decoration: none;
    height: 60px;
    display: block;
    width: 230px;
    padding: 20px 15px;
  }
  .header .nav .nav__menu .nav__menu--return {
    display: block;
    border: none;
    background-color: transparent;
    z-index: 101;
    height: 60px;
    width: 45px;
    color: transparent;
  }
  .header .nav .nav__menu .nav__menu--return a {
    color: transparent;
    display: block;
    height: 100%;
    width: 100%;
  }
  .header .nav li:last-child {
    border-bottom: none;
    /*border-radius: 0px 0px 15px 15px;*/
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .main .main__h1 {
    padding-top: 140px;
  }
  .main .main__video {
    width: 100%;
    min-width: 1800px;
  }
  .nosotros {
    padding-top: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 400px;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .nosotros .nosotros__article {
    max-width: 450px;
  }
  .servicios {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 450px;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 50px;
  }
  .servicios .servicios__article {
    max-width: 450px;
  }
  .servicios a {
    font-size: 1.5rem;
  }
  .servicios p {
    width: 85%;
    font-size: 1.1rem;
  }
  .proyectos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 500px;
    padding-left: 10%;
    padding-right: 10%;
  }
  .proyectos .proyecto__video {
    max-height: 400px;
  }
  .proyectos .proyectos__texto {
    margin-left: -250px;
    max-width: 450px;
    z-index: 1;
    height: 230px;
    font-size: 0.8rem;
  }
}
